# --- POSTGRES CONFIGURATION ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=finance_db
POSTGRES_PORT=5432

# --- SERVER CONFIGURATION ---
SERVER_PORT=3000
SCIENCE_PORT=8000

# --- INTERNAL SERVICE URLS ---
# "fn-postgres" & "backend-science" are the containers names in the docker-compose.yaml
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@fn-postgres:5432/${POSTGRES_DB}?schema=public
SCIENCE_SERVICE_URL=http://backend-science:8000
